.contenedor {
    display: inline-block;
    margin: 1.5rem;
}

.carrito, .comprado {
    margin: 0 1rem;
}
.cantidad {
    font-size: 3rem;
    color: #F87060;
}

.carrito, .comprado {
    font-size: 3rem;
    color: #F87060;
}

.comprado::after {
    color: #5E747F;
}