.navbar {
    margin: 0;
    padding: 0;
}

.navbar h1, a {
    font-family: monospace;
    margin: .5rem 1.5rem;
}
.navbar h1 {
    font-size: 4rem;
}
.navbar a {
    font-family: monospace;
    font-size: 3rem;
    text-decoration: none;
    color: blue;
}