.navbar {
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    margin: 0 1rem 0;
}

.navbar h1, a {
    color: #F87060;
    margin: .5rem 0;
}

.navbar h1 {
    font-size: 4rem;
}

.navbar a {
    font-family: monospace;
    font-size: 3rem;
    text-decoration: none;
    color: #5E747F;
    margin: 0 1.5rem;
}
a:focus {
    color: #F87060; 
}