.navbar {
    display: flex;
    flex-direction: space-around;
    justify-content: center;
}

.navbar h1, a {
    color: #F87060;
    margin: .5rem 0;
}

.navbar h1 {
    font-size: 4rem;
}

.navbar ul {
    display: flex;
    flex-direction: space-between;
    justify-content: center;
}
.navbar a:hover {
    color: #F87060; 
}
.link {
    display: block;
    text-align: center;
    padding: 2rem;
    font-family: monospace;
    font-size: 3rem;
    text-decoration: none;
    color: #5E747F;
    margin-left: 3.5rem;
}
.link:hover {
    background-color: #cac6c1;
}